/* Reset and body styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: #fff;
}

    /* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  position: relative;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  height: 80px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  padding: 10px 0;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
.dropdown-content a:hover {
  background-color: #67616132;
}

.dropdown:hover .dropdown-content {
  display: block;
}    
.dropdown-item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  width:250px;
  color:black;
  text-shadow: 1px 1px 4px white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s;
}

.dropdown-item:hover {
  transform: scale(1.03);
}

/* filter */
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.filter-btn {
  background-color: #e6e6ff;
  padding: 8px 16px;
  border-radius: 12px;
  display: flex;
  gap: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.filter-btn i {
  font-size: 16px;
}

  /* Responsive adjustments (optional) */
@media (max-width: 768px) {
.nav-links {
  display: none;
  }
}   
  
/* img slide */
.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
}
.slide {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.slide .brand {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

.car-img{
  width: 500px;
  height: auto;
  transition: transform 1s;
}

/* Zoom animation on active image */
@keyframes zoomIn {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.slide.active .car-img {
  animation: zoomIn 6s ease forwards;
}

.info-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  font-size: 18px;
  gap: 10px;
}

.info-boxes .info {
  background: rgba(0,0,0,0.3);
  padding: 15px;
  border-radius: 10px;
  flex: 1;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: rgba(0,0,0,0.3);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 2;
  transition: background 0.3s;
}

.nav-btn:hover {
  background: rgba(0,0,0,0.6);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Individual Backgrounds */
.mahindra { background: linear-gradient(to bottom, #aaa, #666); }
.tata { background: linear-gradient(to bottom, #746306, #c4a500); }
.mg { background: linear-gradient(to bottom, #a97b50, #5c3c1e); }
.skoda { background: linear-gradient(to bottom, #7f8d06, #909f0a); }
.MARUTHI { background: linear-gradient(to bottom, #7e94dd, #485f8d); }


/* car search filter */
.search-container {
  display: flex;
  gap: 20px;
  margin: 40px;
  align-items: flex-end;
  padding: 10px;
  background: #f1f2ff;
  clip-path: polygon(
  0 0,
  100% 0,
  100% 70%,
  60% 70%,
  55% 100%,
  45% 100%,
  40% 70%,
  0 70%
);
  border-radius: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group select,
.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  min-width: 300px;
}

.search-btn {
  padding: 12px 30px;
  background: #00b4d8;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-btn:hover {
  background: #0096c7;
}

/* Explore trusted */

.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.section p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

.brand-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.brand-card {
  width: 250px;
  background: #f5f6ff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 1px solid #ddd;
}

.brand-card:hover {
  transform: translateY(-8px);
}

.brand-card img.car {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.brand-card .logo {
  padding: 20px;
  text-align: center;
}

.brand-card .logo img {
  max-height: 60px;
  mix-blend-mode: darken;

}

.brand-card .logo span {
  font-weight: 600;
  font-size: 1rem;
  color: #555;
  display: block;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .brand-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .brand-card {
    width: 90%;
  }
}
  /* drive the way */
.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.section p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

.car-type-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.car-type-card {
  width:300px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
  border: 2px solid #1a1919;
}

.car-type-card:hover {
  transform: translateY(-8px);
}

.car-type-card img {
  width: 80%;
  height: 240px;
  margin: 20px;
  border-radius: 10px;
  object-fit: cover;
  border-bottom: 1px solid #1c1b1b;
}

.car-type-card span {
  display: block;
  padding: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  background: #f1f1ff;

  border-radius: 0 0 20px 20px;
}
 @media (max-width: 768px) {
  .car-type-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .car-type-card {
    width: 90%;
  }
}
 /* Most popular ride */
.section {
  padding: 50px 20px;
  text-align: center;
}

.section h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.section p {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 40px;
}

.rides-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.ride-card {
  width: 400px;
  background: #f2f1ff;
  border-radius: 20px;
  padding: 16px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.ride-card:hover {
  transform: translateY(-5px);
}

.ride-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.ride-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ride-price {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}

.ride-price small {
  font-weight: 400;
  color: #999;
}

.ride-features {
  background: #fff;
  padding: 10px 12px;
  margin: 15px 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #444;
}

.ride-features div {
   text-align: center;
}

.ride-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.rating::before {
  content: "⭐";
  margin-right: 5px;
  color: #f7b500;
}

.rent-button {
  background-color: #00bcd4;
  color: #fff;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.rent-button:hover {
  background-color: #0097a7;
}

@media (max-width: 768px) {
  .ride-card {
    width: 90%;
  }
}
/* popular car */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 20px 0;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.car {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: center;
}

.car-text {
  flex: 1 1 45%;
  padding: 20px;
}

.car-text h3 {
  margin: 0 0 10px;
  font-size: 2.1rem;
}
.car-text h4{
  font-size: 1.4rem;
}
.car-text p {
  margin: 0 0 15px;
  line-height: 1.5;
  font-size: 1.2rem;

}

.btn {
  display: inline-block;
  padding: 10px 18px;
  background: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.image-group2 {
  display: flex;
  width: 50%;
  gap:20px;
}

.image-left, .image-right {
  width: 50%;
  box-sizing: border-box;
}

.image-left img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes the image cover the container */
  display: block;
}

/* Stack two images vertically */
.image-right {
  display: flex;
  flex-direction: column;
}

.image-right img {
  width: 100%;
  height: 50%; /* Half of the parent height */
  object-fit: cover;
  display: block;

}

    /* Responsive */
@media (max-width: 768px) {
  .car {
    flex-direction: column;
  }
  .car-images {
    grid-template-columns: 1fr 1fr;
  }
}


    /* logos */
.brand-strip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px 0;

  flex-wrap: wrap;
}

.brand-strip img {
  width: 120px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s, transform 0.3s;
  cursor: pointer;
}

.brand-strip img:hover {
  filter: none;
  transform: scale(1.1);
}



    /* customer says */
.testimonials {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.4s ease;
  background: #f9f9f9;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.4s ease;
}

.card .content {
  padding: 15px;
  transition: opacity 0.3s ease;
}

/* Toggle mode — image only */
.card.image-only .content {
  display: none;
}

.card.image-only {
  width: 200px;
  
}
/* animate deign */
.diamond-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 100px auto;
}

.diamond {
  width: 20px;
  height: 20px;
  background: #aaa;
  transform: rotate(45deg);
  animation: pulse 1s infinite ease-in-out alternate;
  opacity: 0.8;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
  animation: blink 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}
.dot:nth-child(4) {
  animation-delay: 0.3s;
}
.dot:nth-child(5) {
  animation-delay: 0s;
}

@keyframes blink {
  0%, 100% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    transform: rotate(45deg) scale(1);
  }
  100% {
    transform: rotate(45deg) scale(1.2);
  }
}

/* FAQ */
.faq-container {
  max-width: 1100px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.question {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}

.question::after {
  content: '+';
  position: absolute;
  right: 0;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.faq-item.active .question::after {
  content: '-';
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 0.95em;
  color: #333;
}

.faq-item.active .answer {
  max-height: 200px; /* Adjust based on content */
}

/* Footer */
    footer {
      background-color:#f2f1ff;
      padding: 40px 20px;
      font-size: 14px;
      color: #333;
      border-top: 1px solid #ddd;
    }

    .footer-container {
      max-width: 1500px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .footer-column {
      flex: 1 1 200px;
      margin: 10px;
    }

    .footer-column h4 {
      text-decoration: 2px underline;
      
      margin-bottom: 10px;
      font-weight: 600;
    }

    .footer-column ul {
      list-style: none;
      padding: 0;
    }

    .footer-column ul li {
      margin-bottom: 8px;
    }

    .footer-column ul li a {
      text-decoration: none;
      color: #333;
    }

    .app-links img {
      height: 40px;
      margin-right: 10px;
      margin-top: 8px;
    }

    .social-icons a {
      text-decoration: none;
      margin-right: 10px;
      font-size: 18px;
    }

    .copyright {
      text-align: center;
      margin-top: 30px;
      color: #888;
    }
